.menuRow {
	display: grid; /* | inline-grid | subgrid --> May be optional */
	justify-self: center;
	align-content: center; /* space-evenly */
	justify-content: center; /* space-evenly */
	grid-template-columns: repeat(5, 1fr); /* 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;*/
	grid-template-rows: 1fr 1fr;
	margin-left: 10%;
	margin-right: 10%;
}

.menuBkgd {
	background-image: url("../images/rpi_bright.jpg");
	background-size: 100%;
}

.menuItem1, .menuItem2, .menuItem3, .menuItem4, .menuItem5 {
	grid-row-start: 1;
	grid-row-end: 2;
	text-align: center;
	background-color: rgba(144,215,255,0.8);
	border-radius: 15px;
	margin: 10px;
}

.button1, .button2, .button3, .button4, .button5 {
	grid-row-start: 2;
	grid-row-end: end;
	text-align: center;
	margin: 10px;
}

.buttonImg {
	text-align: center;
	margin: auto;
}

.buttonImg img {
	outline-style : solid;
	outline-color: white;
}

.menuItem1:hover, .menuItem2:hover, .menuItem3:hover, .menuItem4:hover, .menuItem5:hover {
	background-color: rgba(255,208,185,0.8);
}

.selectedMenu {
	background-color: rgba(221,160,221,0.8);
}

.menuItem1 {
	grid-column-start: 1;
	grid-column-end: 2;
}

.menuItem2 {
	grid-column-start: 2;
	grid-column-end: 3;
}

.menuItem3 {
	grid-column-start: 3;
	grid-column-end: 4;
}

.menuItem4 {
	grid-column-start: 4;
	grid-column-end: 5;
}

.menuItem5 {
	grid-column-start: 5;
	grid-column-end: end;
}

.button1 {
	grid-column-start: 1;
	grid-column-end: 2;
}

.button2 {
	grid-column-start: 2;
	grid-column-end: 3;
}

.button3 {
	grid-column-start: 3;
	grid-column-end: 4;
}

.button4 {
	grid-column-start: 4;
	grid-column-end: 5;
}

.button5 {
	grid-column-start: 5;
	grid-column-end: end;
}

.menuTitleRow {
	text-align: center;
	grid-column-start: 1;
	grid-column-end: end;
	grid-row-start: 1;
	grid-row-end: 2;
}

.menuPanel1, .menuPanel2, .menuPanel3, .menuPanel4 {
	text-align: center;
	border-radius: 25px;
	border-style: double;
	border-width: 10px;
	margin: 10px;
	padding: 10px;
}

.menuPanel1:hover, .menuPanel2:hover, .menuPanel3:hover, .menuPanel4:hover {
	background-color: rgba(255,208,185,0.8);
}

.menuPanel1 {
	grid-row-start: 2;
	grid-row-end: 5;
	grid-column-start: 2;
	grid-column-end: 5;
}

.menuPanel2 {
	grid-row-start: 5;
	grid-row-end: 8;
	grid-column-start: 2;
	grid-column-end: 5;
}

.menuPanel3 {
	grid-row-start: 2;
	grid-row-end: 5;
	grid-column-start: 5;
	grid-column-end: 8;
}

.menuPanel4 {
	grid-row-start: 5;
	grid-row-end: 8;
	grid-column-start: 5;
	grid-column-end: 8;
}
